<# A full-bleed divider slide. Context: title. #>
\setbeamercolor{background canvas}{bg=<< theme.colors.primary >>}
\begin{frame}[c]
\begin{center}
{\color{<< theme.colors.on_primary >>}<< theme.fonts.section_title_size >> \textbf{<< title >>}}
\end{center}
\end{frame}
\setbeamercolor{background canvas}{bg=white}
